{% extends "base_FRONT.html.twig" %}




{% block textbanner %}
    <h1>Votre Reservation</h1>

    {{ include('events_reservation/_form.html.twig') }}


{% endblock %}

{% block all %}



{% endblock %}



{% block ads %}    {% endblock %}